<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
	<MM.CurrentModVersion>Установленная версия мода: {0}</MM.CurrentModVersion>
	<MM.SpawnTime>Множитель времени между появлениями обломков</MM.SpawnTime>
	<MM.TimeBetween>Коэффициент периодичности появления обломков: {0}</MM.TimeBetween>
	<MM.TimeBetweenTooltip>Значение, на которое умножается величина времени, необходимого для возможности появления нового обломка при работе шахтёра за горным буром.</MM.TimeBetweenTooltip>
</LanguageData>
